<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ut consequuntur, cum velit possimus rerum
            vitae quasi obcaecati minima voluptatibus.</p>
    </div>
</section>