<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, nihil quia animi incidunt eum
        cupiditate.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sunt et amet voluptatum, culpa fugit?</p>
    <a href="#" class="btn btn-primary">button</a>
</div>